# Never share your mnemonic with anyone and do not commit .env files 🙃
# Edit this file with your contract, address and mnemonic secret and 
# copy it to ./.env 
REACT_APP_RPC_ADDRESS="https://rpc.constantine-1.archway.tech:443"
REACT_APP_CONTRACT_ADDRESS=""
REACT_APP_ACCOUNT_ADDRESS=""
REACT_APP_ACCOUNT_MNEMONIC=""
